@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
  width: 210px;
  height: 30px;
  border: none;
  border-bottom: 2px solid palevioletred;
  border-radius: 10px;
}

input:focus {
  border-bottom: blueviolet;
}

button {
  border-radius: 10px;
  background-color: palevioletred;
  border: none;
  width: 90px;
  height: 30px;
  cursor: pointer;
}

button:hover {
  background-color: blueviolet;
}

.user-input {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
}

.results-dev {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: black;
}

.hidden {
  display: none;
}
